<div class="card">
  <div class="card-body">
    <h3>F.O.A.F（＝friend of a friend）</h3>
    <br>
    <p>
      都市伝説の語り始めにしばしば使われる「友達の友達」。<br>
      『友達の友達』という近いようで実際には顔も名前も解らない人々に起きた出来事として語られる奇妙な噂話、都市伝説。<br>
      <br>
      F.O.A.Fでは口承文学である昔話・伝説・世間話の中の世間話に注目し、自分の体験談や友達の友達から聞いた噂話、都市伝説などを投稿し共有できるコミュニティサイトです。<br>
      <br>
      <br>
      アカウント登録していただくことで記事の閲覧・投稿・ブックマーク・コメントなど各種機能をご利用いただけます。<br>
      ゲストログインで使用していただくことも可能ですが、ゲストログインの場合はログアウトすると全てのデータはリセットされます。
    </p>
  </div>
</div>
