body {
  background-image: url("../../assets/images/wave.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.logo {
  border-radius: 10%;
}

li {
  margin: 10px;
}

a {
  color: #2e292b;
  &:hover {
    color: #2e292b;
  }
}

textarea {
  resize: none; /* 手動リサイズを禁止 */
  min-height: 100px; /* 高さの最小値を指定（任意） */
  width: 100%;
}

.post {
  position: relative;
}
.postBtn {
  position: fixed;
  bottom: 100px;
  right: 200px;
  background: #72c4a1;
  border: solid 3px #2e292b;
  padding: 20px;
  color: #2e292b;
  border-radius: 50%;
}

#flash {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99999;
  .alert-success {
   background-color: rgba(149, 199, 189, 0.3);
  }
  .alert-danger {
   background-color: rgba(232, 81, 81, 0.3);
  }
}

.withdrawalBtn {
  background: #ba422b;
  border-radius: 90px;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

/* ページネーション全体 */
.pagination{
  text-align: center;
  display: flex;
  justify-content: center;
}

/* ページネーションのspan */
.pagination span{
  text-align: center;
  width: 50px;
  font-size: 20px;
}

/* ページネーションのリンク文字（a） */
.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

/* ページネーションの文字にカーソルを載せた時 */
.pagination a:hover{
  width: 50px;
  height: 50px;
  border: 2px solid #43403b;
  background-color: #d0593b;
  color: #2e292b;
  border-radius: 100%;
  padding: 10px;
}

/* 現在のページの数字についての表記 */
.current{
  font-weight: bold;
  color: #84b8eb;
  padding: 10px;
}

.sideMenu {
  background-color: #ba422b;
  color: #fff;
  a{
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
.blackBtn {
  background: #2e292b;
  color: #fff;
  border-radius: 90px;
  &:hover {
    color: #fff;
  }
}
.grayBtn {
  background: #f5f5f5;
  color: #2e292b;
  border-radius: 90px;
  &:hover {
    color: #2e292b;
  }
}
.greenBtn {
  background: #72c4a1;
  color: #2e292b;
  border-radius: 90px;
  &:hover {
    color: #2e292b;
  }
}

.card {
  background-color: #f7f4ed;
  .postDelete {
    background-color: #ba422b;
    color: #fff;
    &:hover {
      color: #2e292b;
    }
  }
  .bookmarkBtn {
    background-color: #72c4a1;
    color: #fff;
    &:hover {
      color: #2e292b;
    }
  }
}

.postIndex {
  transition-duration: .4s;
  &:hover {
    transform: scale(1.1);
  }
}

.plusBtn {
  border: solid 2px #72c4a1;
}