<table class="table table-borderless">
  <tr>
    <td class="align-middle">ユーザー画像</td>
    <td><%= image_tag @user.get_profile_image(80,80) %></td>
  </tr>
  <tr>
    <td>ユーザー名</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>ステータス</td>
    <td>
      <% if @user.is_deleted %>
        <span class="font-weight-bold text-secondary">退会</span>
      <% else %>
        <span class="font-weight-bold text-success"  >有効</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= link_to "EDIT",edit_admin_user_path(@user),class: "btn border" %>
    </td>
  </tr>
</table>

