<div class="row mb-4">
  <!--ユーザーinfo-->
  <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle border" %>
  <h1 class="d-flex align-items-center ml-4"><%= @user.name %></h1>
</div>

<%= render "public/posts/index", posts: @posts %>

<div class="mt-3">
   <%= link_to "MORE >>", user_posts_path(@user) %>
</div>

<div class="row">
  <!--ブックマークフォルダ-->
  <div>

  </div>

</div>