<div class="sideMenu d-flex flex-column flex-shrink-0 p-3 bg-light position-fixed" style="width: 280px; height: 100vh;">
  <% if admin_signed_in? %>
    <!--管理者用メニュー-->
    <%= render 'layouts/admin_menu' %>
  <% else %>
    <!--ユーザー用メニュー-->
    <%= render 'layouts/user_menu' %>
  <% end %>
  <div class="container-fluid mt-4">
    <span>公式アカウント</span>
    <div class="acountBtn text-center mt-3">
      <%= link_to "#", class: "mr-3" do %>
        <i class="fab fa-twitter fa-2x"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fab fa-instagram fa-2x"></i>
      <% end %>
    </div>
  </div>
</div>